@page "/"
<div class="box">
    <div class="right">
        <div class="image">
            <img src="/MyPictureSmall.png" alt="this is my picture" />
        </div>
    </div>
    <div class="left">
        <div class="text">
            اسم من:
        </div>
        <div class="name">
            علیرضا سجده ای
        </div>
        <div class="text">
            شماره دانشجویی من:
        </div>
        <div class="name">
            99111124302010
        </div>
        <div class="text">
            شماره تماس من:
        </div>
        <div class="name">
            09308311100
        </div>

    </div>
</div>